#background {
    background-image: url("./assets/pexels-magda-ehlers-2114014.jpg");
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    bottom: 0;
}

.tile {
    opacity: 80%;
}